<html>
	<head>
		<title>Introduction Vue.js</title>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	</head>
	<body>
		<div id="app-4">
			<ol>
				<li v-for="todo in todos">
					{{ todo.text }}
				</li>
			</ol>
		</div>

		<div id="app-5">
			<p>{{ message }}</p>
			<button v-on:click='reverseMessage'>Reverse Message</button>
		</div>

		<div id="app-6">
			<p>{{ message }}</p>
			<input v-model='message'>
		</div>

		<div id="app-7">
			<ol>
				<todo-item v-for='item in grocerylist'
					v-bind:todo='item' 
					v-bind:key='item.id'>
				</todo-item>
			</ol>
		</div>
	</body>

	<script>
		var app4 = new Vue({
			el:"#app-4",
			data:{
				todos:[
					{text:'Learning Javascript'},
					{text:'Learning Vue.js'},
					{text:'Building something awesome'}
				]
			}
		});
	
		var app5 = new Vue({
			el:"#app-5",
			data:{
				message:"Hello,Vue.js world!",
			},
			methods:{
				reverseMessage:function(){
					this.message = this.message.split('').reverse().join('');
				}
			}
		});

		var app6=new Vue({
			el:"#app-6",
			data:{
				message:'Hello, Vue.js world!'
			}
		});

		Vue.component('todo-item', {
			props:['todo'],
			template:'<li>{{ todo.text }}</li>'
		});

		var app7 = new Vue({
			el:"#app-7",
			data:{
				grocerylist:[
					{'text':'Vegetables'},
					{'text':'Cheese'},
					{'text':'Whatever else humans are support to eat.'},
				]
			}
		})

		setInterval(() => {
			var count = app4.todos.length;
			if(count >10) return;
			app4.todos.push({text: "No "+  count + " by setInterval appended."});
			app7.grocerylist.push({text: "No " + count + " something."});
		}, 1000);
	
	</script>
</html>
